@@include("../../bower_components/normalize-css/normalize.css");
@@include("slick.scss");



@font-face{

font-family: 'Muller';
src: url("../fonts/Muller/Fontfabric - MullerRegular.otf") format("opentype");
font-weight: regular;
font-style: normal;

}

@font-face{

font-family: 'Muller';
src: url("../fonts/Muller/Fontfabric - MullerBold.otf") format("opentype");
font-weight: bold;
font-style: normal;

}

@font-face{

font-family: 'Muller';
src: url("../fonts/Muller/Fontfabric - MullerLight.otf") format("opentype");
font-weight: lighter;
font-style: normal;

}

@font-face{

font-family: 'Muller';
src: url("../fonts/Muller/Fontfabric - MullerMedium.otf") format("opentype");
font-weight: medium;
font-style: normal;

}

@font-face{

font-family: 'CenturyGothicRegular';
src: url("../fonts/CenturyGothicRegular.ttf") format("truetype");
font-weight: normal;
font-style: normal;

}

body{
	min-width: 320px;
	margin:0 auto;
}
.clearFix::after {
    content: "";
    display: table;
    clear: both;
}


.mainHeader__contentWrap,
.mainFooter__contentWrap{
	width: 64%;
	margin: 0 auto;
}

@media (max-width: 1440px ){
	.mainHeader__contentWrap,
	.mainFooter__contentWrap{
		width: 80%;
		
	}
}

@media (max-width: 1024px ){
	.mainHeader__contentWrap,
	.mainFooter__contentWrap{
		width: 100%;
		
	}
}


.mainHeader{
	padding-top: 60px;
	width: 100%;
	position: absolute;
	color: #fff;
}

.mainHeader__about{
	padding-left: 2.5%;
	max-width: 500px;
	display: inline-block;
	vertical-align: top;
}

.mainHeader__companyLogo{
	float: left;
}

.mainContent__companySlogan{
	font-family: Muller;
	font-weight: lighter;
	font-size: 20px;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	margin-left: 45px;
}


@media (max-width: 725px ){
	.mainContent__companySlogan{
		display: none;
	}
}




.mainContent__companyName{
	font-family: Muller;
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.mainHeader__contacts{
	float: right;
	margin-right: 2.5%;
	min-width: 300px;
}





.mainHeader__contactsList{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

.mainHeader__phoneNumber,
.mainHeader__emailAdress{
	font-family: Muller;
	font-weight: normal;
	font-size: 18px;
	color: inherit;
	text-decoration: none;
}

.mainHeader__phoneNumber--bold{
	font-weight: bold;
}

.mainHeader__phoneNumber{
	font-size: 28px;
	padding-right: 2%;
}

@media (max-width: 430px ){
	.mainHeader__about{
		padding-left: 5px;
	}
	.mainContent__companyName{
		font-size: 25px;
	}
	.mainHeader__contacts{
	
		min-width: 200px;
		margin-right: 5px;
	}

	.mainHeader__phoneNumber{
		font-size: 18px;
		padding-right: 5px;
	}
		
	
	.mainHeader__contacts{
		margin-right: 5px;
	}
	
		
		
}

.mainContent__about{
	padding-top: 140px;
	background: #29211c url("../img/bg_mc_about.jpg") top center no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;

}

.mainContent__description{
	font-family: Muller;
	font-weight: bold;
	padding-top: 170px;
	font-size: 50px;
	text-transform: uppercase;
	position: relative;
}




.mainContent__description::before{
	content: "";
	display: block;
	position: absolute;
	width: 182px;
	height: 208px;
	background: transparent url("../img/bg_headingDecorator.png");
	top: 50%;
	left:50%;
	margin-left: -460px;
}

@media (max-width: 970px ){
	.mainContent__description{
		font-size: 30px;

	}
	.mainContent__description::before{
		width: 120px;
		height: 140px;
		background-size: cover;
		margin-left: -275px;
		top: 57%;
	}
}

@media (max-width: 630px ){
	.mainContent__description{
		font-size: 30px;

	}
	.mainContent__description::before{
		width: 120px;
		height: 140px;
		background-size: cover;
		margin-left: -275px;
		top: 57%;
	}
}


@media (max-width: 550px ){
	.mainContent__description{
		font-size: 20px;

	}
	.mainContent__description::before{
		width: 100px;
		height: 110px;
		background-size: cover;
		margin-left: -180px;
		top: 65%;
	}
}


.mainContent__featuresList{
	margin-top: 80px;
	font-family: Muller;
	font-weight: lighter;
}


.mainContent__featuresList,
.mainContent__areasWorkList{
	list-style: none;
	font-size: 0;
	line-height: 0;
	color: #fff;
	padding: 0;
	

}


.mainContent_priceFormBtn{
	font-family: Muller;
	font-weight: medium;
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	display: block;
	padding: 20px 0;
	background: #ffba00;
	width: 422px;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 85px;
	text-transform: uppercase;
}

@media (max-width: 550px ){
	.mainContent_priceFormBtn{
		width: 80%;

	}
}

.mainContent__feature,
.mainContent__areaWork{
	font-size: 22px;
	line-height: 24px;
	display: inline-block;
	margin-right: 63px;
}

@media (max-width: 770px ){
	.mainContent__feature{
		display: block;
	}
}

@media (max-width: 550px ){
	.mainContent__feature{
		font-size: 16px;
	}
}

.mainContent__areasWorkList{
	margin:200px 0 0 10%;
	

	padding-bottom:  175px;
	font-family: Muller;
	font-weight: normal;
	font-size: 22px;
}

.mainContent__areaWork{
	width: 200px;
	text-align: left;
	position: relative;
	z-index: 1;
	margin-right: 15%;
	
}

.mainContent__areaWork:last-child{
	margin-right: 0;
}

.mainContent__areaWork::before{
	content: "";
	display: block;
	position: absolute;
	width: 188px;
	height: 178px;
	background: transparent url("../img/bg_areaWorkDecorator.png");
	z-index: -1;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -165px;

}

.mainContent__areaWork::after{
	content: "";
	display: block;
	position: absolute;
	width: 52px;
	height: 51px;
	background: transparent url("../img/css_sprites.png");
	background-position: -20px -20px;
	z-index: -1;
	top: 50%;
	left: 50%;
	margin-top: -95px;
	margin-left: -85px;

}

.mainContent__areaWork:first-child::after{
	background-position: -110px -20px;
}

.mainContent__areaWork:last-child::after{
	background-position: -201px -20px;
}
/**********************************************************/
.mainContent__projects{
	padding-bottom: 120px;
	
}

.mainContent__jobsSliderWrap{
	margin: 0;
	padding: 0;
	padding-top: 110px;
}

.mainContent__SliderHeding{
	font-family: Muller;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	color:#262626;
	padding-bottom: 75px;
	position:relative;
	z-index:1;
}

.mainContent__SliderHeding::after{
	content:"";
	display: block;
	width: 92px;
	height:92px;
	background: transparent url("../img/bg_jobsDecorator.png");
	position: absolute;
	left: 50%;
	bottom: 50%;
	margin-left: -350px;
	margin-bottom: -5px;
	z-index: -1;

}

.mainContent__slider{
	width: 35%;
	min-width: 300px;
	height:100%;
	
	//overflow: hidden;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 1440px ){
	.mainContent__slider{
		width: 80%;
		height: auto;
	}
}

.mainContent__sliderItem{
	width: 100%;
}

.slick-dots{
	position: absolute;
	bottom: -31px;
	left: 50%;
	margin-left: -75px;
	font-size:0;
	line-height: 0;
}


.slick-dots li{
	display:inline-block;
	margin-left: 6px;
}

.slick-dots button{
	margin: 0;
	padding: 0;
	border:0;
	width: 6px;
	height: 6px;
	background: #676767;
}

.slick-active button{
	background: #262626;
	width: 7px;
	height: 7px;
}

.slick-arrow{
	width:15%;
	height:100%;
	position: absolute;
	top: 0;
	padding:0;
	font-size:0;
	line-height: 0;
	border: none;
	background: transparent;
}

.slick-arrow::before{
	content: "";
	display: block;
	width:24px;
	height: 34px;
	background: transparent url("../img/angle-arrow-pointing-to-right копия.png") center top 	;
	background-size: cover;
	top: 50%;
	left: 50%;
	margin-top: -17px;
	margin-left: -9px;
	position: absolute;
}

.slick-next::before{
	transform: scale(-1,1);
	margin-left: -15px;
	right: 50%;
}


.slick-next{
	right: 0;
	margin-right: -15%;
}

.slick-prev{
	left: 0;
	margin-left: -15%;
}


/*********************************************************/

.mainContent__callBack{
	background: #122332 url("../img/bg_callBack.jpg") no-repeat top center;
	background-size: cover;
	
	padding-top: 150px;
	padding-bottom: 190px;

}


.mainContent__callBackHeading{
	margin: 0;
	font-family: Muller;
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-bottom: 75px;

}


.mainContent__callBackForm{
	width: 22%;
	min-width: 320px;
	margin: 0 auto;
	font-family: Muller;
	font-weight: lighter;
	font-size: 18px;
	color: #262626;

}

.mainContent__formItem{
	width: 100%;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: none;
}

.mainContent__formItem[type="submit"]{
	color: #fff;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 10px;
	background: #ffba00;
	padding-left: 5%;
	padding-right: 5%;
	white-space: normal
}





.mainContent__wtf{
	padding-top: 103px;
	min-height: 660px;
}

@media (max-width: 750px ){
	.mainContent__wtf{
		display: none;
	}
}

.mainContent__wtfHeding{
	margin: 0;
	text-align: center;
	font-family: CenturyGothicRegular;
	font-size: 24px;
	color: #000;
}

.mainContent__ingridientsList{
	width: 35%;
	min-height: 513px;
	display: block;
	margin: 0 auto;
	background: transparent url("../img/bg_wtf.jpg") no-repeat top center;
	background-size: cover;
	list-style: none;
	text-align: center;
	padding-top: 180px;
	box-sizing: border-box;
}

.mainContent__ingridientsLink{
	font-family: CenturyGothicRegular;
	font-size: 16px;
	color: #000;
	text-decoration: none;
	position: relative;
	display: block;
	height: 20px;

}

.mainContent__ingridientsLink--left,
.mainContent__ingridientsLink--right{
	position: absolute;
	top: 0;
	left: 50%;
}

.mainContent__ingridientsListItem{
	margin-bottom: 30px;
}

.mainContent__ingridientsLink--left::after,
.mainContent__ingridientsLink--right::after{
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: block;
	background-color: #007f3a;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -10px;
	margin-right: -30px;
}

.mainContent__ingridientsLink--right::after{
	left: 0;
	margin-left: -30px;
}

.mainContent__ingridientsListItem:nth-child(1) .mainContent__ingridientsLink--left{
	margin-left: -270px;
}

.mainContent__ingridientsListItem:nth-child(1) .mainContent__ingridientsLink--right{
	margin-left: 126px;
}

.mainContent__ingridientsListItem:nth-child(2) .mainContent__ingridientsLink--left{
	margin-left: -258px;
}

.mainContent__ingridientsListItem:nth-child(2) .mainContent__ingridientsLink--right{
	margin-left: 157px;
}

.mainContent__ingridientsListItem:nth-child(3) .mainContent__ingridientsLink--left{
	margin-left: -296px;
}

.mainContent__ingridientsListItem:nth-child(3) .mainContent__ingridientsLink--right{
	margin-left: 169px;
}

.mainContent__ingridientsListItem:nth-child(4) .mainContent__ingridientsLink--left{
	margin-left: -274px;
}

.mainContent__ingridientsListItem:nth-child(4) .mainContent__ingridientsLink--right{
	margin-left: 166px;
}

.mainContent__ingridientsListItem:nth-child(5) .mainContent__ingridientsLink--left{
	margin-left: -264px;
}

.mainContent__ingridientsListItem:nth-child(5) .mainContent__ingridientsLink--right{
	margin-left: 144px;
}

.mainContent__ingridientsListItem:nth-child(6) .mainContent__ingridientsLink--left{
	margin-left: -192px;
}

.mainContent__ingridientsListItem:nth-child(6) .mainContent__ingridientsLink--right{
	margin-left: 97px;
}











.mainFooter__propertyOf--link,
.mainFooter__propertyOf,
.mainFooter__INN{
	
	font-family: Muller;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.mainFooter__INN{
	margin: 35px 0 35px 2.5%;
	float: left;
}

.mainFooter__propertyOf{
	float: right;
	margin: 35px 2.5% 35px 0;
}