@@include("../../bower_components/reset-css/reset.css");
@@include("../../bower_components/bootstrap/dist/css/bootstrap.min.css");


$primary-color: rgba(0,167,169,1);;


@font-face{

font-family: 'Montserrat';
src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;

}

@font-face{

font-family: 'Montserrat';
src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
font-weight: bold;
font-style: normal;

}

@font-face{

font-family: 'Montserrat';
src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
font-weight: 500;
font-style: normal;

}

@font-face{

font-family: 'Montserrat';
src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
font-weight: 600;
font-style: normal;

}

@font-face{

font-family: 'Gagalin';
src: url("../fonts/GagalinReg/GagalinReg.otf") format("opentype");
font-weight: normal;
font-style: normal;

}



/****************************************** Header ******************/

.mainHeader {
	background: #fff;
	color: #000;
	position: relative;
	box-sizing: border-box;
}

.mainHeader::before{
	content: "";
	width: 100%;
	height: 5px;
	display: block;
	background: #00a99b;
}

.mainHeader__about {
	padding-top:12px;
	padding-bottom: 8px;
	display: flex;
}



.mainContent__address{
	font-family: 'Montserrat';
	font-size: 16px;
	color: #000;
	padding-top: 23px;
	min-width: 190px;
}

.mainHeader__contacts{
	padding-top: 30px;
}

.mainHeader__phoneListItem{
	padding: 0;
	padding-left: 20px;
	min-width: 140px;
}

.mainHeeader__phoneItem--link{
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 21px;
	color: #000;
	vertical-align: top;
	
}

.mainHeader__phoneListItem--code{
	font-size: 14px;
	font-weight: 500;
	vertical-align: top;
}


/****************************************** Section time to travel ******************/
.mainContent__timeToTravel{
	padding-top: 245px;
	background: $primary-color url("../img/bg-about.jpg") no-repeat top center;
	background-size: 100% 100%;
	margin-bottom: 90px;
}


.mainContent__mainHeadingWrap{
	background: rgba(0,169,155,.82);	
	padding-bottom: 5px;

}

.mainContent__mainHeading{
	font-family: 'Gagalin';
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	
}

.btns{
	font-family: 'Montserrat';	
	font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
	background-image: linear-gradient(90deg,#ffc000  0%,#fe210e  100%);	
	border-radius: 60px;
    outline: none;
    border: none;
    display: block;
	box-shadow: 0 0 35px 0 #000;
}

.mainContent__popupBtn{
	@extend .btns;
    
    margin: 0 auto;
	font-size: 18px;
    padding: 25px 90px;
    margin-top: 200px;
}


.mainContent__popupBtn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.mainContent__whoAreWe{
	text-align: center;
	background:url("../img/bg-about2.jpg") no-repeat top center rgba(0,169,155,.82);
	background-size: 100% 100%;
	margin-top:90px;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 75px;
}

.mainContent__whoAreWeHeading{
	font-size: 'Montserrat';
	font-weight: bold;
	font-size: 26px;
	text-transform: uppercase;
}

.mainContent__whoAreWeHeading--name{
	display: inline-block;
	width: 212px;
	height: 64px;
	margin-top: -15px;
	vertical-align: middle;
	background: transparent url("../img/mc-logoMouzenidis.png");
}

.mainContentwhoAreWeDescription{
	font-family: 'Montserrat';
	font-weight: 600;

}

/****************************************** Section gallery ******************/
.mainContent__timeToChoose{
	
}

.mainContent__timeToChooseHeading{
	font-family: 'Montserrat';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
	text-align: center;
	color: #00a7a9;
	position: relative;
	margin:0;

	&:after{
		content: "";
		height: 3px;
		width: 100%;
		bottom: -20px;
		width: 88px;
		left: 50%;
		margin-left: -44px;
		display: block;
		position: absolute;
		background: #00a7a9;
	}

}



.mainContent__chooseGalleryCaption{
	font-family: 'Montserrat';
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 30px;

}

.mainContent__glleryItem{
	height: 265px;
}

.mainContent__glleryFoto{
	width: 100%;
	height: 100%;
}

.mainContent__fotowrap{
	position: relative;
	width: 100%;
	height: 100%;
}

.mainContent__fotowrap:hover::after {
	content:"";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background: rgba(0,167,169,0.6);
	top:0;
	left: 0;
	cursor: pointer;
}



.mainContent__timeToChooseGallery{
	margin-bottom: 130px;
		
}



.mainContent__galleryBtn{
	@extend .btns;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	z-index: 2;
	padding: 20px 10px;
}

.mainContent__fotowrap:hover .mainContent__galleryBtn{
	
    cursor: pointer;
}

/****************************************** Section review ******************/
.mainContent__reviews{
	font-family: 'Montserrat';
	text-align: center;
	background: #3abeb1 url("../img/bg-review.jpg") top center no-repeat;
	background-size: cover;
	max-height: 885px;
	padding-bottom: 190px;
	
}




.mainContent__reviewsHeading{
	@extend .mainContent__timeToChooseHeading;
	
	color: #fff;
	padding-top: 100px;
	

	&:after{
		bottom: -20px;
		background: #fff;
	}
}



.mainContent__videoReviewWrap{
	
	height: 380px;
	background: #ffffff;
	padding:20px;
	margin-top:98px;
}

.mainContent__videoReviewsItem:first-child .mainContent__videoReviewWrap{
	margin-right: 10px;
}

.mainContent__videoReviewsItem:last-child .mainContent__videoReviewWrap{
	margin-left: 10px;
}

.mainContent__videoReviewBtnWrap{
	width: 100%;
	height: 288px;
	border: none;
	background: $primary-color url(../img/bg-videoReview.jpg) no-repeat top left;
	background-size: cover;
	display: block;
	cursor: pointer;
}




.mainContent__videoReviewBtn{
	@extend .btns;
	
	
    
	position: absolute;
	top: 50%;
	margin-top: -33px;
	left: 50%;
	margin-left: -125px;
	padding: 25px 80px;
}

.mainContent__videoReviewCaption{
	margin-top: 25px;
}

.mainContent__videoReviewCaption{
	font-size: 18px;
	font-weight: 600;
}

.mainContent__textReviewsItem{
	min-width: 320px;
}

.mainContent__textReviewsItem:first-child{
	padding-left: 7px;
}

.mainContent__textReviewsItem:last-child{
	padding-right: 7px;
}

.mainContent__textReviewsList{
	padding-top: 8px;
}

.mainContent__textReviwWrap{
	max-height: 415px;
	overflow: auto;
	background: #fff;
	text-align: left;
	padding: 40px 35px 30px 20px;
	font-weight: normal;
	font-size: 17px;
	position: relative;
	z-index: 2;
	border: 1px solid rgba(0,167,169,1);
}

.mainContent__textReviewOrigin{
	display: inline-block;
	margin-top: 18px;
	font-weight: 600;
}

.mainContent__reviewOriginLink{
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	color: $primary-color;
	
}

.mainContent__reviewOriginLink:hover{
	text-decoration: none;
	color: rgba(0,167,169,.6);
}

/****************************************** Section call ******************/


.mainContent__call{

	margin-top: 330px;
	padding-top: 90px;
	min-height: 275px;
	background: $primary-color url("../img/bg-call.jpg") no-repeat top center;
	background-size: 100% auto;
	position: relative;
}

.mainContent__call::before{
	content: "";
	width: 398px;
	height: 370px;
	display: block;
	position: absolute;
	background: url(../img/bg-manCall.png);
	bottom: 0px;
}

.mainContent__callHeading{
	font-family: 'Montserrat';
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.mainContent__callContent{
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	margin-top: 25px;
}

.mainContent__callForm{
	position: relative;
}

.mainContent__callFormInput{
	@extend .btns;
    padding: 25px 60px;
    position: absolute;
}

.mainContent__callFormInput[type="text"]{
	background: #fff;
	padding-left: 40px;
	padding-bottom: 24px;
	padding-right: 70px;
	color: #000;
	left: 0;
}

.mainContent__callFormInput[type="submit"]{
	
	left: 270px;

}
/****************************************** Section services ******************/

.mainContent__services{
	text-align: center;	
	padding-top: 90px;

}

.mainContent__servicesHeading{
	@extend .mainContent__timeToChooseHeading;
	margin-bottom: 100px;
}

.mainContent__servicesListItem{
	padding: 7px;
}

.mainContent__servicesListItemWrap{
	height: 215px;
	background: $primary-color url("../img/services/foto1.jpg") no-repeat top center;
	background-size: cover;
	padding-top: 75px;
}

.mainContent__servicesListItem:nth-child(2) .mainContent__servicesListItemWrap{
	background-image: url("../img/services/foto2.jpg");
}

.mainContent__servicesListItem:nth-child(3) .mainContent__servicesListItemWrap{
	background-image: url("../img/services/foto3.jpg");
}

.mainContent__servicesListItem:nth-child(4) .mainContent__servicesListItemWrap{
	background-image: url("../img/services/foto4.jpg");
}

.mainContent__servicesListItem:nth-child(5) .mainContent__servicesListItemWrap{
	background-image: url("../img/services/foto5.jpg");

}

.mainContent__servicesListItem:nth-child(6) .mainContent__servicesListItemWrap{
	background-image: url("../img/services/foto6.jpg");
}

.mainContent__servicesListItem:nth-child(7) .mainContent__servicesListItemWrap{
	background-image: url("../img/services/foto7.jpg");
}

.mainContent__servicesListItem--heading{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	display: block;
	background: rgba(0,167,167,.75);
	padding-top: 25px;
	padding-bottom: 25px;
	
}

.mainContent__servicesListItem:nth-child(5) .mainContent__servicesListItem--heading{
	padding-top: 15px;
	padding-bottom: 15px;

}

/****************************************** Section BookIt**************/

.mainContent__bookIt{
	margin-top: 415px;
	padding-top: 80px;
	padding-bottom:  80px;
	background: $primary-color url("../img/bg-bookIt.jpg") no-repeat top center;
	background-size: 100% 100%;
	position: relative;
}

.mainContent__bookIt::before{
	content: "";
	width: 629px;
	height: 380px;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -315px;
	margin-top: -327px;

	background: url(../img/bg-bookItGirl.png);
}
.mainContent__bookItHeadingWrap {
	padding: 0;
}
.mainContent__bookItHeading{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 48px;
	line-height: 52px;
	color: #fff;
}



.mainContent__bookItFormInput{
	@extend .btns;


    font-size: 18px;
    width: 405px;
	border-radius: 30px;
    padding: 25px 30px;
    
    
    
}

.mainContent__bookItFormInput[name="bookFormViber"]{
	background: #fff;
	color: #000;
	padding: 23px 30px;
	margin-bottom: 20px;
}
.mainContent__bookItFormInput[name="bookFormText"]{
	background: #fff;
	color:#000;
	resize: none;
	overflow: hidden;
	margin-bottom: 20px;
}

/****************************************** Section AboutUs**************/

.mainContent__aboutUs{
	font-family: 'Montserrat';
	font-size: 18px;
	padding-top: 100px;
	
}

.mainContent__aboutUsHeading{
	@extend .mainContent__timeToChooseHeading;
	margin-bottom: 90px;
}

.mainContent__regaliaItem{
	font-family: inherit;
	font-weight: 600;
	font-size: 18px;
	padding-top: 70px;
	padding-bottom: 110px;
}

.mainContent__regaliaItem--bold{
	font-weight: bold;
}

.mainContent__regaliaItem:nth-child(3),
.mainContent__regaliaItem:nth-child(4){
	padding-top: 0;
	padding-bottom:25px ;
}

.mainContent_regaliaSpecification{
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	padding: 0;
	margin-left: -110px;
}

.mainContent__aboutUsSliderItem{
	
	height: 330px;
	
}



.mainContent__aboutUsRegalia{
	font-size: 18px;
	color: #000;
}

.mainContent__aboutUsDiplomas{
	margin-top: 115px;
}



.mainContent__diplomasListItem{
	max-height: 240px;
	overflow: hidden;
	
}

.mainContent__diplomasListItem{
	padding: 0;
	padding-right: 10px;
}

.mainContent__diplomasListItem:last-child{
	padding: 0;
	padding-left: 10px;

}

.mainContent__diplomaItemWrap{
	background: #ffc942;
}

.mainContent__diplomaImg{
	opacity: 0.6;
}
.mainContent__diplomasList{
	margin-bottom: 0;
}

/****************************************** Section specialOffer**************/

.mainContent__specialOffer{
	font-family: 'Montserrat';
	background: $primary-color url("../img/bg-specilaOffert.jpg") no-repeat left top;
	background-size: 100% 100%;
	margin-bottom: 350px;
	padding-top: 60px;
	margin-top: 140px;
	padding-bottom: 55px;
	position: relative;
	&:after{
		content:"";
		display: block;
		width: 380px;
		height: 492px;
		position: absolute;
		bottom: 0;
		right: 10%;

		background: url("../img/bg-manAndChildren.png");

	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		height:34px;
		width: 100%;
		background: url("../img/top1.svg") no-repeat top center;
		background-size: cover;
		top: 0;
	}
}



.mainContent__specialOfferTour{
	text-align: center;
}

.mainContent__specialOfferHeading{
	@extend .mainContent__timeToChooseHeading;
	color: #fff;

	&:after{
		display: none;
	}
}

.mainContent__specialOfferTourName{
	font-weight: 600;
	font-size: 24px;
	color: #fff;
	margin: 0; 
	margin-top: 40px;
}

.maincontent__tourDetailsList{
	font-weight: bold;
	font-size:18px;
	color: #fff;
	display: flex;
	justify-content: center;
	margin: 0;
}

.mainContent__tourDetailsItem{
	margin: 0 15px;
	padding-top: 60px;
}

.mainContent__specialOffer--learnMore{
	@extend .btns;
	margin: 0 auto;
	padding: 20px 60px;
	margin-top: 40px;
}